<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bookmark</title>
	<style>
        a {
            color: inherit; /* Inherit color from the parent */
            text-decoration: none; /* Remove underline */
        }
	</style>
</head>
<body>
<ol id="links">
</ol>

<p>Elements with close score were found. Press the corresponding number (or click on the list entry) to go to the wanted page.</p>

<script>
	function createListElement(link) {
		const tags = link[2].split(' ')
			.sort()
			.map(word => tagCount.get(word) === 1 ? `<b style="color: red">${word}</b>` : word)
			.join(' ');
		const li = document.createElement("li");
		li.innerHTML = `<div><a href="${link[1]}">${tags} <span style="color: lightgrey;">(${link[0].toFixed(2)})</span></a></div><br/>`;
		return li;
	}

	// COLUMN_SCORE, COLUMN_LINK, COLUMN_TAG
	const links = {{ links|safe }};
	const tagCount = new Map();
	links.forEach(entry => entry[2].split(' ').forEach(word => tagCount.set(word, (tagCount.get(word) || 0) + 1)));

	let ul = document.getElementById("links");
	links.forEach(function(link, index) {
		ul.appendChild(createListElement(link, index));
	});

	document.addEventListener('keydown', function(event) {
		let key = event.key;
		let value = parseInt(key);
		if (!isNaN(value)) {
			if (links && value >= 1 && value <= links.length) {
				window.location.href = links[value - 1][1];
			}
		}
	});
</script>
</body>
</html>
